body{
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

.nav-open{
    .nav-toggle{
        position: fixed;

        .fas{
            display: none;
        }

        .ex{
            display: inline-block;
        }
    }

    .nav{
        transform: translateX(0);
    }
}






img{
    display: block;
}

section{
    padding: 5em 2em;
}

:focus{
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}
