.intro{
    position: relative;

    .section__title--intro{
        margin-left: 10px;
    }
    
    .section__subtitle--intro{
        display: inline-block;
    }
    .intro_img{
        box-shadow: var(--bs);
    }
}

@media (min-width: 600px){
    .intro{
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro_img{
        grid-area: img;
        min-width: 250px;
        width: 300px;
        position: relative;
        z-index: 2;
    };

    .section__subtitle--intro{
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em)
        
    }
}