h1,
h2,
h3{
    line-height: 1;
    margin: 0;
}

h1{
    font-size: var(--fs-h1);
}

h2{
    font-size: var(--fs-h2);
}

h3{
    font-size: var(--fs-h3);
}

strong{
    font-weight: var(--fw-bold);
}

.section__title{
    font-weight: var(--fw-reg);
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle{
    margin: 0;
    font-size: var(--fs-h3);
    position: relative;
    z-index: 2;
}

.section__subtitle--intro,
.section__subtitle--about{
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondaryl);
    margin-bottom: 1em;
}